
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <table class="responsive-table bordered">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of investment.events">
                        <td>{{ event.message }}</td>
                        <td>{{ event.successString() }}</td>
                        <td>{{ event.date_time | date: 'h:mm a -  yyyy/MM/dd' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
